/ - Page Title -/
- content_for(:title, 'Upload Photo')

/ - Breadcrumb Nav -/
%nav.breadcrumbs
  .medium-6.small-3.columns
  %a{ href: events_path } Home
  %a.current{ href: new_photo_path } Upload Photo

/ - Photo Upload Form -/
.top-section
  .row
    .large-8.column
      .form
        %fieldset
          %legend Upload Your Photo
          = form_for @new_photo do |f|
            %label Photo Name
            = f.text_field :photo_name
            %label Photo Date
            = f.date_field :photo_date            
            %label Photo Description
            = f.text_area :photo_description
            %label Choose Your Photo
            = f.file_field :image
            %p            
            = f.submit "Upload Photo", class: "default button"
    
    / - Popular Photos Sidebar -/
    .large-4.column
      %form
        %fieldset
          %legend Popular Pics
          - @photos.each do |f|
            .small-6.column.centered  
              %img.th{ src: f.image }
              %p
          
          / - Homepage Button -/
          %a.expand.small.button{ href: photos_path }
            Return to Photos