%h1 Upload a photo
=form_for @new_photo, url: photos_path do |f|
	= render "form", f: f
	= f.submit "Create New"
%h1 Add a comment
=form_for @photo.comment do |f|
	= f.label :commenter
	= f.text_field :commenter
	%br
	= f.label :comment_date
	= f.text_field :comment_date
	%br
	= f.label :comment_text
	= f.text_field :comment_text
	%br
	= f.submit